.main-menu {
    padding-top: 20px;
    margin-bottom: 10px;
}
.home {
    color: #139048ba !important;
}

#addSkillButton {
    position: absolute;
    top: -20px;
    right: 15px;
}

textarea { resize: none; }

/* Footer menus*/
#footer-left  a {
    margin: 10px !important;
}
#footer-center a { margin: 10px !important; text-align: center !important; }

#footer-right   { margin: 10px !important; text-align: right !important; }
